.main_view {
	width: 90%;
	margin: 0 auto;
	padding-top: 15px;
}

.spacing {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}